{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Instrucciones{% endblock %}

{% block content %}
<font color="burlywood"><h4 align="right">Tu ID: {{ participant_id }}</h4></font>
<br>

<h4> La presente sesión consta de tres partes:</h4>
<br>
<ul>
    <li> La <b> PARTE I </b> consiste en un cuestionario de comprensión de las instrucciones presentadas. Este está compuesto por cuatro preguntas; por cada respuesta correcta, ganará S/ 0.20. Es decir, podrá ganar hasta S/ 0.80 adicionales a los S/5.00 que le pagaremos por la participación en la sesión. </li>
    <br>
    <li> La <b> PARTE II </b> consiste en el desarrollo de un cuestionario sobre la compra y el uso de medicamentos, denominado “Cuestionario Principal”. Este, a su vez, se divide en dos secciones:
        <ul>
            <li> En la primera sección, se presentarán cuatro casos hipotéticos para los cuales deberá elegir entre dos opciones de medicamentos presentados, o indicar la disposición a pagar de los medicamentos presentados, según corresponda. </li>
            <li> En la segunda sección, se presentarán nueve enunciados relacionados con la compra de medicamentos. A partir de ellos, deberá indicar qué tan de acuerdo está con dichas afirmaciones. </li>
        </ul>
    <br>
    <li> La <b> PARTE III </b> consiste en una encuesta sobre (i) sus preferencias de compra y familiaridad con medicamentos y (ii) datos generales.
        Cabe resaltar que aunque se solicitó tus datos personales para la inscripción a esta sesión, las respuestas brindadas en la misma serán usadas de forma <b>ANÓNIMA</b>. </li>
</ul>

<br>

{% next_button %}

<br><br>
    <p>
    {% include Constants.contact_template %}
    </p>

{% endblock %}